html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* firefox 19+ */
  /* ie */
}
body .navbar {
  font-family: 'Raleway', sans-serif;
  z-index: 9;
}
body .navbar li {
  display: none;
}
body .loading {
  text-align: center;
}
body .loading_fullscreen {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  padding-top: 25%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
body .wrap {
  padding-top: 70px;
}
body .wrap .col-md-6 {
  padding-right: 0px;
  padding-left: 0px;
}
body .wrap form.news textarea {
  width: 100%;
  height: 44px;
  border: none;
  outline: 0px none transparent;
  resize: none;
  transition: all .3s linear;
}
body .wrap form.news .panel-footer {
  height: 0;
  padding: 0px 15px 3px 15px;
  overflow: hidden;
  transition: all .3s linear;
}
body .wrap form.news .panel-footer.show {
  padding: 7px 15px 10px 15px;
  height: 55px;
}
body .wrap form.news .panel-footer .counttxt {
  line-height: 41px;
  margin-right: 20px;
  color: gray;
}
body .wrap form.news .panel-footer input {
  outline: 0px none transparent;
  margin-top: 3px;
}
body .wrap .cnt-news {
  opacity: 0;
  transition: all 1.5s ease;
}
body .wrap .cnt-news.show {
  opacity: 0.78;
}
body .wrap .cnt-news:hover {
  opacity: 1;
}
body .wrap .cnt-news .thumbnail .time {
  color: gray;
  font-size: 12px;
}
body .wrap .cnt-news .thumbnail h3 {
  margin-top: 10px;
}
body ::-webkit-input-placeholder {
  color: #20e0f1;
}
body ::-moz-placeholder {
  color: #20e0f1;
}
body :-ms-input-placeholder {
  color: #20e0f1;
}
body input:-moz-placeholder {
  color: #20e0f1;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
