@gray-light: gray;
@blue-light: #bce8f1;
@blue-strong: #20e0f1;
html, body {
	margin: 0;
	padding: 0;
}
body{
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	// background-size: cover;
	background-attachment: fixed;
	.navbar{
		font-family: 'Raleway', sans-serif;
		// position: fixed;
		// width: 100%;
		z-index: 9;
		li{
			display: none;
		}
	}
	.loading{
		text-align: center;
	}
	.loading_fullscreen {
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		text-align: center;
		top: 0;
		left: 0;
		padding-top: 25%;
		background: rgba(0,0,0,0.5);
		z-index: 9999;
	}
	.wrap{
		padding-top: 70px;
		.col-md-6{
			padding-right: 0px;
			padding-left: 0px;
		}
		form{
			&.news{
				textarea{
					width: 100%;
					height: 44px;
					border: none;
					outline:0px none transparent;
					resize: none;
					transition: all .3s linear;
				}
				.panel-footer{
					height: 0;
					padding: 0px 15px 3px 15px;
					overflow: hidden;
					transition: all .3s linear;
					&.show{
						padding: 7px 15px 10px 15px;
						height: 55px;
					}
					.counttxt{
						line-height: 41px;
						margin-right: 20px;
						color: @gray-light;
					}
					input{
						outline:0px none transparent;
						margin-top: 3px;
					}
				}
			}
		}
		.cnt-news{
			opacity: 0;
			transition: all 1.5s ease;
			&.show{
				opacity: 0.78;
			}
			&:hover{
				opacity: 1;
			}
			.thumbnail{
				.time{
					color: @gray-light;
					font-size: 12px;
				}
				h3{
					margin-top: 10px;
				}
			}
		}
	}
	::-webkit-input-placeholder { color:@blue-strong; }
	::-moz-placeholder { color:@blue-strong; } /* firefox 19+ */
	:-ms-input-placeholder { color:@blue-strong; } /* ie */
	input:-moz-placeholder { color:@blue-strong; }
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}