<div class="row parent-news" infinite-scroll='loadMore()'>
	<div class="col-sm-6 col-md-4 cnt-news" ng-repeat="newss in news" id="{{newss.id}}">
		<div class="thumbnail">
			<div class="caption">
				<h3>{{newss.username}} said:</h3>
				<div class="time">{{newss.time | date:'EEE MMM dd yyyy HH:mm:ss'}}</div>
				<p>{{newss.description}}</p>
			</div>
		</div>
	</div>
</div>