<div class="panel panel-info col-md-6 col-md-offset-3 col-sm-offset-2">
	<form id="news" class="news">
		<div class="panel-body">
			<textarea placeholder="What are you thinking?" maxlength="256"></textarea>
		</div>
		<div class="panel-footer">
			<input class="btn btn-warning pull-right" type="submit" value="Submit" id="submit" disabled />
			<span class="counttxt pull-right">256</span>
		</div>
	</form>
</div>
<div class="row parent-news" infinite-scroll='loadMore()'>
	<div class="col-sm-6 col-md-4 cnt-news" ng-repeat="newss in news" id="{{newss.id}}">
		<div class="thumbnail">
			<div class="caption">
				<h3>{{newss.username}} said:</h3>
				<div class="time">{{newss.time | date:'EEE MMM dd yyyy HH:mm:ss'}}</div>
				<p>{{newss.description}}</p>
			</div>
		</div>
	</div>
</div>