<div id="updatebox" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">User profile</div>
			<div style="float:right; font-size: 85%; position: relative; top:-10px"></div>
		</div>  
		<div class="panel-body" >
			<form id="updateform" class="form-horizontal" action="javascript:void(0)" method="post" data-toggle="validator">
				<div class="form-group">
					<label for="fullname" class="col-md-3 control-label">Name and lastname</label>
					<div class="col-md-9">
						<input type="text" class="form-control" value="{{fullname}}" name="fullname" id="fullname" placeholder="Name and lastname" required>
					</div>
				</div>
				<div class="form-group">
					<label for="mobile" class="col-md-3 control-label">Mobile</label>
					<div class="col-md-9">
						<input type="text" class="form-control" value="{{mobile}}" name="mobile" id="mobile" placeholder="Mobile" required>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-md-3 control-label">Email</label>
					<div class="col-md-9">
						<input type="email" class="form-control" value="{{email}}" name="email" id="email" placeholder="Email Address" required>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-3 col-md-9">
						<input type="submit" value="Update" class="btn btn-primary">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>