<div id="loginbox" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">          
	<div class="panel panel-info" >
		<div class="panel-heading">
			<div class="panel-title">Sign In</div>
		</div>
		<div class="panel-body">
			<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
			<form id="loginform" class="form-horizontal" role="form" action="javascript:void(0)" method="post">
				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Username">
				</div>
				<div style="margin-bottom: 25px" class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input id="login-password" type="password" class="form-control" name="password" placeholder="password">
				</div>
				<div class="form-group">
					<!-- Button -->
					<div class="col-sm-12 controls">
						<button id="btn-login" class="btn btn-success">Login</button>
					</div>
				</div>  
			</form>     
		</div>
	</div>     
</div>
